<template name="editor">
  <div class="col-xs-2 fill-height challenge-container">
    <div class="challenge-header">
      {{#if Template.subscriptionsReady}}
        {{challenge.title}}
      {{else}}
        Loading instructions...
      {{/if}}
    </div>
    <div class="challenge-body">
      {{{challenge.htmlInstructions}}}
    </div>
    <button class="challenge-action btn-help">
      help!
    </button>
  </div>
  <div class="col-xs-7 fill-height">
    <div id="editor" class="editor"></div>
    {{#if loading}}
      Loading editor...
    {{/if}}
  </div>
  <div class="col-xs-3 fill-height challenge-container">
    <button class="challenge-action js-run">
      Run Code
    </button>

    <div class="challenge-body">
      {{#if output}}
        <label>Output</label>
        <pre>{{output}}</pre>
      {{else}}
        Press "Run Code" to see the output.
      {{/if}}
    </div>
  </div>
</template>
