.editor.ace_editor {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.challenge-container {
  padding: 0;
}
.challenge-header,
.challenge-help {
  text-align: center;
  height: 50px;
  background-color: #EFEFEF;
  border: 1px solid #D3D3D3;
  color: #797979;
}
.challenge-header,
.challenge-body,
.challenge-help {
  padding: 15px;
}
.challenge-helper {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.challenge-help {
  position: absolute;
  bottom: 0;
  width: 100%;
}
