<template name="challenges">
  <div class="col-xs-8 fill-height">
    <h3>Available challenges</h3>
    <div class="challenge-list">
      {{#if challenges.count}}
        {{#each challenges}}
          <a href="{{pathFor 'editor'}}" class="challenge-item">
            <label>{{title}}</label>
            <p>{{description}}</p>
            <small>Posted on {{formatDate createdAt}}</small>
          </a>
        {{/each}}

        {{#if showMore}}
          <button id="js-show-more" class="btn btn-primary btn-wide">Show More</button>
        {{/if}}
      {{else}}
        No challenges yet.
      {{/if}}
    </div>
  </div>
  <div class="col-xs-4">
    <div class="challenge-create">
      <h3>Submit a new challenge</h3>
      {{#if currentUser}}
        <form id="challenge-create">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="input-sm form-control" id="title"
            placeholder="Title">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="input-sm form-control" id="description"
            placeholder="Description">
          </div>
          <div class="form-group">
            <label for="instructions">Instructions</label>
            <textarea id="instructions" class="input-sm form-control" placeholder="Instructions (Markdown supported)"></textarea>
          </div>
          <div class="form-group">
            <label for="answer">Answer</label>
            <input id="answer" class="input-sm form-control" placeholder="Answer">
          </div>
          <div class="form-group">
            <label for="whitelist">Whitelist</label>
            <textarea id="whitelist" class="input-sm form-control" placeholder="Whitelist (comma separated)"></textarea>
          </div>
          <div class="form-group">
            <label for="blacklist">Blacklist</label>
            <textarea id="blacklist" class="input-sm form-control" placeholder="Blacklist (comma separated)"></textarea>
          </div>
          <div class="form-group">
            <label for="structure">Structure</label>
            <textarea id="structure" class="input-sm form-control" placeholder="JSON representation of structure"></textarea>
            <p class="help-block">Example: {&quot;WhileStatement&quot;:{&quot;ForStatement&quot;:{&quot;IfStatement&quot;:&quot;&quot;}}}</p>
          </div>
          <button type="submit" class="btn btn-primary btn-wide">Submit</button>
        </form>
      {{else}}
        Sign in to create a challenge!
      {{/if}}
    </div>
  </div>
</template>
